config HQ_DEVINFO_SUPPORT
  bool "Enable Huaqin Devinfo Driver"
  default n
  help
    Huaqin devices information driver includes specific information about hardware info and other info for HQ tools

